
:root {
    --color-primary: #899a8f;
    --color-primary-light: #d0d5d0;
    --color-primary-dark: #394940;

    --color-secondary-light: #7c8055;
    --color-secondary-dark: #716345;

    --color-grey-light-1: #f9faf9;
    --color-grey-light-2: #f2f4f2;
    --color-grey-light-3: #eef0ee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --color-white: #fff;
    --color-black: #000;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);

    --line: 1px solid var(--color-grey-light-2);
}

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; // 500px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
}

