//////////////////////////////////////
// NAME
.name {
    font-size: 6rem;
    padding: 0 4rem;
    margin-left: 2rem;
    border-right: 1px solid var(--color-white);
    border-left: 1px solid var(--color-white);
}


//////////////////////////////////////
// SEARCH
.search {
    // background-color: orangered;
    flex: 0 0 30%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        font-size: 1.5rem;
        color: var(--color-white);
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--color-white);
        width: 90%;
        padding: .7rem 2rem;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-2);
        }
    }

    &__input:focus + &__btn {
        background-color: transparent;
    }

    &__btn {
        border: none;
        background-color: transparent;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-light-1);
    }
}


//////////////////////////////////////
// USER NAVIGATION
.user-nav {
    align-self: stretch;

    display: flex;
    align-items: center;

    &__icon-box {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        position: relative;

        display: flex;
        align-items: center;

        &:hover {
            background-color: rgba(black, .3);
        }
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-light-1);
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 100%;
        background-color: var(--color-primary);
        color: var(--color-white);
        position: absolute;
        top: 3rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__login {
        font-size: 1.5rem;
        margin-left: 1.5rem;
    }
}

//////////////////////////////////////
// SIDE NAVIGATION


.side-nav {
    font-size: 1.6rem;
    font-family: 'Spinnaker', sans-serif;
    list-style: none;
    margin-top: 3.5rem;
    text-transform: uppercase;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__item::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s, // wait .4s
                    background-color .1s;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-dark-1);
        text-decoration: none;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }

}

//////////////////////////////////////
// LEGAL TEXT
.legal {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--color-primary-dark);
}

//////////////////////////////////////
// BOOK LIST ITEM 

.books {
    &__wrapper {
        padding: 1rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    &__item {
        padding: 1.5rem;
        margin: 3rem;
        font-size: 1.2rem;
        text-align: center;

        flex: 0 0 20%;
    }

    &__fig {
        width: 100%;
        display: block;
    }

    &__view,
    &__view:focus,
    &__view:active {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 1.5rem 4rem;
        display: inline-block;
        width: 100%;
        color: var(--color-black);
        cursor: pointer;

        background-color: rgba(#f9faf9, .7);
        transform: translateY(-4.5rem);
        opacity: 0;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    &__item:hover > &__view {
        text-decoration: none;
        opacity: 1;
    }

    &__data {
        margin-top: -2rem;
        font-size: 1.5rem; 
        color: var(--color-grey-dark-1); 

    }

    &__name {
        border-bottom: 1px solid var(--color-secondary-light); 
        padding-bottom: .5rem;
    }

    &__author {
        font-size: 1.2rem; 
        padding-top: .5rem;
    }
}


.pages {
    display: flex;

    &__btn {
        border: none;
        background-color: var(--color-secondary-light);
        padding: .5rem 2rem;
        border-radius: 10rem;
        cursor: pointer;
        margin: 1rem;
        display: flex;
        align-items: center;
        transition: all .2s;
    
        &:focus,
        &:active, {
            outline: none;
        }
    }

    &__icon {
        height: 1.5rem;
        width: 1.5rem;
    }
}
//////////////////////////////////////
// BOOK DETAILS POPUP

// OVERVIEW 
.overview {
    display: flex;
    align-items: center;

    &__heading {
        font-size: 2.5rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .5px;
        padding: 1.4rem 2rem;
    }

    &__author {
        margin-right: 1.2rem;
    }

    &__publisher {
        margin-right: auto;
    }

    &__close {

        &:link,
        &:visited {
        color: var(--color-grey-dark-1);
        position: absolute;
        top: .2rem;
        right: 1.5rem;
        font-size: 5rem;
        text-decoration: none;
        display: inline-block;
        -webkit-transition: all .2s;
        transition: all .2s;
        line-height: 1;
        }

        &:hover {
            color: var(--color-secondary-light);
        }
    }

}

// PRICE
.price {
    margin-right: 1.2rem;
    font-size: 4rem;
    color: var(--color-secondary-dark);
}

// PARAGRAPH
.paragraph:not(:last-of-type) {
    margin-bottom: 1.5rem;
}

// RECOMMEND LIST
.user-reviews {
    list-style: none;
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: var(--line);

    display: flex;
    flex-wrap: wrap;

    &__item {
        margin-bottom: .5rem;
    }

    &__item::before {
        content: '';
        display: inline-block;
        height: 1.2rem;
        width: 1.2rem;
        margin-right: .7rem;

        // newer browswes method - masks
        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/SVG/chevron-thin-right.svg);
        -webkit-mask-size: cover;
    }
}


//////////////////////////////////////
// BUTTON INLINE
.btn-inline {
    border: none;
    color: var(--color-primary-dark);
    font-size: 1.2rem;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
    margin-right: 1.5rem;

    &:hover {
        color: var(--color-grey-dark-1);
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

//////////////////////////////////////
// BUTTON INLINE

.book {
    display: flex;
    &__btn {
        padding: 1.5rem;
        font-size: 1.5rem;
        margin-right: 2rem;
        background-color: var(--color-primary);
        border-radius: 10rem;
        border: none;
        text-transform: uppercase;
        color: var(--color-grey-light-1);
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: var(--color-primary-dark);
        }
    
        &:focus {
            outline: none;
        }

    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-light-1);
    } 
}

.love {
    &__btn {
        background-color: var(--color-primary-light);
        border-radius: 50%;
        border: none;
        cursor: pointer;
        height: 4.5rem;
        width: 4.5rem;
        margin-left: auto;
        transition: all .2s;

        // display: flex;
        // align-items: center;
        // justify-content: center;

        &:hover {
            background-color: var(--color-primary);
        }
    
        &:focus {
            outline: none;
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-white);
    }

}


@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}