//////////////////////////////////////
// NAME
.name {
    font-size: 6rem;
    padding: 0 4rem;
    margin-left: 2rem;
    border-right: 1px solid var(--color-white);
    border-left: 1px solid var(--color-white);
}

//////////////////////////////////////
// SEARCH
.search {
    flex: 0 0 30%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        font-size: 1.5rem;
        color: var(--color-white);
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--color-white);
        width: 90%;
        padding: .7rem 2rem;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-2);
        }
    }

    &__input:focus + &__btn {
        background-color: transparent;
    }

    &__btn {
        border: none;
        background-color: transparent;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--color-grey-light-1);
    }
}


//////////////////////////////////////
// USER NAVIGATION
.user-nav {
    align-self: stretch;

    display: flex;
    align-items: center;

    &__icon-box {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        position: relative;

        display: flex;
        align-items: center;

        &:hover {
            background-color: rgba(black, .3);
        }
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--color-grey-light-1);   
        
        &:hover {
            height: 3rem;
            width: 3rem;
        }
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 100%;
        background-color: var(--color-primary);
        color: var(--color-white);
        position: absolute;
        top: 3rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__login {
        font-size: 1.5rem;
        margin-left: 1.5rem;
    }
}

//////////////////////////////////////
// SIDE NAVIGATION
.filter-block {
    font-size: 1.6rem;
    list-style: none;

    @media only screen and (max-width: $bp-medium){
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    h4 {
        font-size: 2rem;
        position: relative;
        margin-bottom: .9em;
        color: var(--color-primary-dark);
        border-top: 1px solid var(--color-grey-dark-3);
    }

    &__item {
        position: relative;

        @media only screen and (max-width: $bp-medium){
            flex: 1;
        }

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__category {
        
        input {
            position: absolute;
            opacity: 0;

            &:focus + label:before {
                border-color: var(--color-black);
            }

            &:checked + label:after {
                content: "";
                position: absolute;
                top: .7rem;
                left: .5rem;
                width: .4rem;
                height: .8rem;
                border: solid var(--color-black);
                border-width: 0 1px 1px 0;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }

        label {
            bottom: .8rem;

            &::before {
                margin-right: 1rem;
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 1.3rem;
                height: 1.3rem;
                border: 1px solid var(--color-primary-light);
            }
        }

        input + label {
            margin-right: 1rem;
            position: relative;
            padding: 0;
            cursor: pointer;
        }
    }

    &__price-slider {
        input {
            text-align: center;
            font-size: 1.5rem;
            outline: none;
            border: none;
            background: var(--color-grey-light-2);
            border-radius: .5rem;
            color: var(--color-grey-dark-3);
            line-height: 1.5;
        }
    }

    &__year {
        position: relative;
        user-select: none;
        width: 100%;
    }
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-primary-dark);

    &:hover > &__options {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    &:hover .arrow::before {
        left: -.5rem;
        transform: rotate(-45deg);
    }

    &:hover .arrow::after {
        left: .5rem;
        transform: rotate(45deg);
    }

    &__trigger {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        color: var(--color-grey-dark-1);
        height: 3.5rem;
        cursor: pointer;
        border-color: var(--color-primary-dark);
    }

    &__options {
        width: 100%;
        position: absolute;
        display: inline-block;
        top: 100%;
        border: 1px solid var(--color-primary-dark);
        border-top: 0;
        transition: all 0.5s;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 2;
    }

    &__option {
        position: relative;
        display: block;
        padding: 0 1rem 0 1rem;
        color: var(--color-grey-dark-1);
        line-height: 2.5;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
            cursor: pointer;
            background-color: var(--color-primary-light);
        }

        &:focus,
        &:active {
            color: var(--color-white);
            background-color: var(--color-primary);
        }
    }


}

.arrow {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;

    &::before {
        left: -.5rem;
        transform: rotate(45deg);
        background-color: var(--color-primary-dark);
    }
    &::after {
        left: .5rem;
        transform: rotate(-45deg);
        background-color: var(--color-primary-dark);
    }
    
    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0.15rem;
        height: 100%;
        transition: all 0.5s;
    }
 
}



//////////////////////////////////////
// LEGAL TEXT
.legal {
    font-size: 1.5rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--color-grey-light-1);
}

//////////////////////////////////////
// BOOK LIST ITEM 
.books {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    &__item {
        position: relative;
        padding: 1.5rem;
        margin: 2rem;
        font-size: 1.2rem;
        text-align: center;

        width: 15vw;

        @media only screen and (max-width: $bp-largest){
            flex: 0 0 27%;
        }

        @media only screen and (max-width: $bp-medium){
            margin: 4rem;
            flex: 0 0 35%;
        }

        @media only screen and (max-width: $bp-small){
            flex: 0 0 70%;
        }
    }

    &__fig {
        width: 100%;
        display: block;
    }

    &__view,
    &__view:focus,
    &__view:active {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 1.5rem 4rem;
        display: inline-block;
        width: 100%;
        color: var(--color-black);
        cursor: pointer;

        background-color: rgba(#f9faf9, .7);
        transform: translateY(-4.5rem);
        opacity: 0;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    &__item:hover > &__view {
        text-decoration: none;
        opacity: 1;
    }

    &__data {
        margin-top: -2rem;
        font-size: 1.5rem; 
        color: var(--color-grey-dark-1); 
    }

    &__name {
        border-bottom: 1px solid var(--color-secondary-light); 
        padding-bottom: .5rem;
    }

    &__author {
        font-size: 1.2rem; 
        padding-top: .5rem;
    }
}


.pages {
    display: flex;

    &__btn {
        color: var(--color-white);
        border: none;
        background-color: var(--color-secondary-light);
        padding: .7rem 1rem;
        border-radius: 10rem;
        cursor: pointer;
        margin: 1rem;
        display: flex;
        align-items: center;
        transition: all .2s;
    
        &:hover {
            background-color: var(--color-secondary-dark);
        }
    
        &:focus {
            outline: none;
            box-shadow: 0 0.5rem 1rem rgba(#000,0.2);
        }

        &:active {
            transform: translateY(.2rem);
        }
    }

    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        fill: currentColor;
    }
}

//////////////////////////////////////
// BOOK DETAILS POPUP

// OVERVIEW 
.overview {
    display: flex;
    align-items: center;

    &__heading {
        font-size: 2.5rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .5px;
        padding: 1.4rem 2rem;
    }

    &__author {
        margin-right: 1.2rem;
    }

    &__publisher {
        margin-right: auto;
    }

    &__close {

        &:link,
        &:visited {
        color: var(--color-grey-dark-1);
        position: absolute;
        top: .2rem;
        right: 1.5rem;
        font-size: 5rem;
        text-decoration: none;
        display: inline-block;
        -webkit-transition: all .2s;
        transition: all .2s;
        line-height: 1;
        }

        &:hover {
            color: var(--color-secondary-light);
        }
    }

}

// PRICE
.price {
    margin-right: 1.2rem;
    font-size: 4rem;
    color: var(--color-secondary-dark);
}

// PARAGRAPH
.paragraph:not(:last-of-type) {
    margin-bottom: 1.5rem;
}

// RECOMMEND LIST
.user-reviews {
    list-style: none;
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: var(--line);

    display: flex;
    flex-wrap: wrap;

    &__item {
        margin-bottom: .5rem;
    }

    &__item::before {
        content: '';
        display: inline-block;
        height: 1.2rem;
        width: 1.2rem;
        margin-right: .7rem;

        // newer browswes method - masks
        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/SVG/chevron-thin-right.svg);
        -webkit-mask-size: cover;
    }
}


//////////////////////////////////////
// BUTTON INLINE
.btn-inline {
    border: none;
    color: var(--color-primary-dark);
    font-size: 1.2rem;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
    margin-right: 1.5rem;

    &:hover {
        color: var(--color-grey-dark-1);
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

//////////////////////////////////////
// BOOK BUTTON
.book {
    display: flex;
    &__btn {
        padding: 1.5rem;
        font-size: 1.5rem;
        margin-right: 2rem;
        background-color: var(--color-primary);
        border-radius: 10rem;
        border: none;
        text-transform: uppercase;
        color: var(--color-grey-light-1);
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: var(--color-primary-dark);
        }
    
        &:focus {
            outline: none;
        }

    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-light-1);
    } 
}

// LOVE BUTTON
.love {
    &__btn {
        background-color: var(--color-primary-light);
        border-radius: 50%;
        border: none;
        cursor: pointer;
        height: 4.5rem;
        width: 4.5rem;
        margin-left: auto;
        transition: all .2s;

        &:hover {
            background-color: var(--color-primary);
        }
    
        &:focus {
            outline: none;
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-white);
    }

}


@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}
